@model KalendarScopic.Web.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Account</h1>

<a class="btn btn-primary" href="/User/Login">Log in</a>
<a class="btn btn-info" href="/User/New">Register</a>

